<p class="text-black-50 fs-6">NOUVEAU</p>
<div class="w-100 bg-body p-3">
    <div class="d-flex flex-row">
       <p class="w-50 fs-5 mt-3">A :</p>
       <mat-form-field appearance="legacy" floatLabel="never" class="w-50" [hideRequiredMarker]="true">
        <mat-label>Pseudo</mat-label>
        <mat-select >
            <mat-option  value="user">User</mat-option>
        </mat-select>       
    </mat-form-field>
    </div>
    <div class="mt-5 border-bottom" style="padding-top:50%;">
        
    </div>
    <mat-form-field appearance="fill" floatLabel="never" class="w-100 mt-3" [hideRequiredMarker]="true">
        <mat-label>Envoyer un message</mat-label>
        <input matInput>
    </mat-form-field>
</div>
