<div class="w-75 " style="margin-left:10%">
    <div class="w-75" style="margin-left:5%">
        <h1 class="fs-1">1 simple idée qui rassemble aujourd’hui 45 millions de personnes</h1>
    </div>
    <div>
        <div class="d-flex flex-row">
            <div class="ms-5 mt-5">
                <img src="../assets/images/led.png" alt="" srcset="">
            </div>
            <div class="mt-5 ms-4 w-50" style="margin-left: 10%;">
                <h2 class="fs-2">
                    De 2 personnes
                </h2>
                <p class="fs-4 text-black-50">
                    Tout a commencé en 2008 quand Milda, en plein déménagement, a réalisé qu’elle avait beaucoup trop de
                    vêtements. Un de ses amis, Justas, lui a alors proposé son aide et a développé un site pour qu’elle
                    puisse facilement vendre les vêtements qu'elle ne
                    portait plus à ses amis.
                </p>
            </div>
            <div class="ms-5 mt-5">
                <img src="../assets/images/heart.png" alt="" srcset="">
            </div>
            <div class="mt-5 ms-4 w-50">
                <h2 class="fs-2">
                    À une équipe de plus de 700
                </h2>
                <p class="fs-4 text-black-50">
                    Aujourd'hui, plus de 700 personnes travaillent chez Vinted pour aider le monde à vendre, acheter et
                    échanger des articles de mode de seconde main. Nos équipes rassemblent des pays et des cultures
                    différentes, à l’image de nos membres.

                </p>
            </div>

        </div>
        <div class="d-flex flex-row">
            <div class="ms-5 mt-5">
                <img src="../assets/images/place.png" alt="" srcset="">
            </div>
            <div class="mt-5 ms-4 w-50" style="margin-left: 10%;">
                <h2 class="fs-2">
                    Travaillant à travers l’Europe
                </h2>
                <p class="fs-4 text-black-50">
                    Les bureaux principaux de Vinted se situent à Vilnius, Berlin, Prague et Utrecht. Depuis ces sites,
                    nous opérons dans 15 pays : l'Espagne, la France, le Luxembourg, la Belgique, les Pays-Bas,
                    l'Allemagne, l'Autriche, la République tchèque, la Pologne,
                    la Lituanie, le Royaume-Uni, l'Italie, le Portugal, les États-Unis et le Canada
                </p>
            </div>
            <div class="ms-5 mt-5">
                <img src="../assets/images/world.png" alt="" srcset="">
            </div>
            <div class="mt-5 ms-4 w-50">
                <h2 class="fs-2">

                    Pour une mission globale
                </h2>
                <p class="fs-4 text-black-50">
                    L’univers de la seconde-main a dépassé les frontières des friperies. Sur Vinted, tu vends ce que tu
                    ne portes plus et tu déniches des pièces canons. Nos 45 millions de membres nous accompagnent dans
                    notre mission : faire de la seconde-main le premier
                    choix dans le monde.

                </p>
            </div>

        </div>
    </div>