<div class="">
    <div class="m-5">
        <app-top-about></app-top-about>

    </div>
    <div class="">
        <app-top-image></app-top-image>
    </div>
    <div class="mt-5 ">
        <app-contenu-about></app-contenu-about>
    </div>
    <div class="mt-5 ">
        <app-equipe-about></app-equipe-about>
    </div>
    <div class="mt-5 ">
        <app-bottom-about></app-bottom-about>
    </div>
    <div class="mt-5 ">
        <app-logo-bottom-about></app-logo-bottom-about>
    </div>
    <div class="mt-5 ">
        <app-bottom-about-how-it-works></app-bottom-about-how-it-works>
    </div>
</div>