<div>
    <div class="w-100 bg-body border p-3 mt-4">
        <div class="p-2 d-flex flex-row justify-content-between border-bottom">
            <div>
                <p>Titre</p>
            </div>
            <div class="w-50">
                <input type="text" class="form-control" placeholder="ex : Chemise Sézane verte" aria-label="Titre" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-2 d-flex flex-row justify-content-between">
            <div>
                <p>Décris ton article</p>
            </div>
            <div class="w-50">
                <input type="text" class="form-control" placeholder="ex : porté quelques fois, taille correctement" aria-label="Titre" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="w-100 bg-body border p-3 mt-4">
        <div class="p-2 d-flex flex-row justify-content-between border-bottom">
            <div>
                <p>Catégorie</p>
            </div>
            <div class="w-50">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="p-2 d-flex flex-row justify-content-between border-bottom">
            <div>
                <p>Marque</p>
            </div>
            <div class="w-50">
                <select class="form-select" aria-label="Default select example">
                     <option selected>Open this select menu</option>
                     <option value="1">One</option>
                     <option value="2">Two</option>
                     <option value="3">Three</option>
                   </select>
            </div>
        </div>
        <div class="p-2 d-flex flex-row justify-content-between border-bottom">
            <div>
                <p>Etat</p>
            </div>
            <div class="w-50">
                <select class="form-select" aria-label="Default select example">
                     <option selected>Open this select menu</option>
                     <option value="1">One</option>
                     <option value="2">Two</option>
                     <option value="3">Three</option>
                   </select>
            </div>
        </div>
    </div>
    <div class="w-100 bg-body border p-3 mt-4">
        <div class="p-2 d-flex flex-row justify-content-between">
            <div>
                <p>Prix</p>
            </div>
            <div class="w-50">
                <input type="text" class="form-control" placeholder="0,00 €" aria-label="Titre" aria-describedby="basic-addon1">
                <div class="form-check mt-5">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Je suis intéressé(e) par les échanges
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 d-flex flex-row-reverse">
        <div class="d-flex flex-row">
            <div class="p-2">
                <button>Sauvegarder le brouillon</button>
            </div>
            <div class="p-2">
                <button>Ajouter</button>
            </div>
        </div>
    </div>
</div>