<div style="margin-top: 10%;" class="w-75 mx-auto">
    <div class="fs-1 w-100">
        <h1>Vinted Clone</h1>
    </div>
    <div class="fs-6">
        <p>
            Clone de la plateforme 
            <a href="https://www.vinted.fr"><img src="../../../assets/images/logo-vinted.png" alt="" class="img-fluid p-1" style="max-width: 60px;margin-top: -1%;" ></a>
            
             qui est un marché en ligne communautaire qui permet de vendre, d'acheter, et d'échanger des vêtements et accessoires d'occasion. La société est créée en 2008 à Vilnius, capitale de la Lituanie par un couple originaire du pays.
        </p>
        <p class="fs-5 ms-5">Les technologies utilisées :</p>
        <div class="d-flex flex-row justify-content-around" >
            <div class="card w-25 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <div class="card-body">
                    <p class="fs-4">Front :</p>
                    <ul style="list-style: none;" >
                        <li>
                            <img src="../../../assets/images/apropos/angularjs_50px.png" alt="" class="img-fluid">
                            Angular
                        </li>
                        <li>
                            <img src="../../../assets/images/apropos/bootstrap_50px.png" alt="" class="img-fluid">
                            Bootstrap
                        </li>
                    </ul>
                </div>
              </div>
            <div class="card w-25 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <div class="card-body">
                    <p class="fs-4">Back :</p>
                <ul style="list-style: none;">
                    <li>
                        <img src="../../../assets/images/apropos/nodejs_50px.png" alt="" class="img-fluid">
                        NodeJS
                    </li>
                    <li>
                        <img src="../../../assets/images/apropos/typescript_50px.png" alt="" class="img-fluid">
                        Typescript
                    </li>
                    <li>
                        <img src="../../../assets/images/apropos/graphql_50px.png" alt="" class="img-fluid">
                        GraphQL
                    </li>
                </ul>
                </div>
              </div>
              <div class="card w-25 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <div class="card-body">
                    <p class="fs-4">Database :</p>
                    <ul style="list-style: none;">
                        <li>
                            <img src="../../../assets/images/apropos/mongodb_50px.png" alt="" class="img-fluid">
                            MongoDB
                        </li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>