<footer class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid border-top">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Politique de Confidentialité</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Politique des cookies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Paramètres des cookies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Termes et Conditions</a>
            </li>
          </ul>
        </div>
      </div>
</footer>