<div class="d-flex flex-row justify-content-between mt-5 h-100 fond_top_about_it_works">
    <div class="mt-5 row ms-5 w-50">
        <div class="mt-5 ms-5  ">
            <br>
            <h1 class="ms-5 mt-5">Bienvenue dans
                <h1>ta communauté</h1>
                <h1 class="text-decoration-underline ">internationale </h1>de seconde main</h1>
        </div>
        <div class="text-black-50 w-50 m-5">
            <h4 class="ms-5">45 millions de membres, des milliers de marques et des styles 100% seconde main. Envie d'en faire partie? Découvre comment ca marche !</h4>
        </div>
    </div>


</div>