<div class="d-flex flex-row justify-content-between">
    <div class="mt-5 w-25">
        <div class="mt-5">
            <h1>Bienvenue dans ta communauté
                <h1 class="text-decoration-underline">internationale</h1> de seconde main</h1>
        </div>
        <div class="text-black-50">
            <h3>45 millions de membres, des milliers de marques et des styles 100% seconde main. Envie d'en faire partie? Découvre comment ca marche !</h3>
        </div>
    </div>
    <div class="mt-5 w-50">
        <img src="../../../assets/images/fond_top_about_it_works.png" alt="" class="img-fluid">
    </div>
</div>