<div class="w-75 ">
    <div style=" margin-Left:15%; ">
        <h1>L’équipe dirigeante de Vinted</h1>
    </div>
    <div class="d-flex flex-row w-100 justify-content-center" style=" margin-Left:15%;">
        <div class="m-3">
            <img src="../assets/images/cofond.jpg" style=" height:500px;" alt="" class="s">
            <div class="centered text-white">
                <h3>Co-fondateurs</h3>
                <p>Milda Mitkute & Justas Janauskas</p>
            </div>
        </div>
        <div class="m-3">
            <img src="../assets/images/pdg.jpg" style=" height:500px;" alt="" class="s">
            <div class="centered text-white">
                <h3>PDG
                </h3>
                <p>Thomas Plantenga</p>
            </div>
        </div>
        <div class="m-3">
            <img src="../assets/images/dg.jpg" style=" height:500px;" alt="" class="s">
            <div class="centered text-white">
                <h3>DG
                </h3>
                <p>Mantas Mikuckas</p>
            </div>
        </div>
    </div>
</div>