<div class="d-flex flex-row">
    <!--Publication photo + prix + reaction + taille + marque-->
    <div style="width: 20%;">
        <a href="#" style="text-decoration: none;color: black;">
            <img class="img-fluid" src="/assets/images/tshirt-blanc.png" alt="">
        </a>
        <div class="container">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <div class="fs-5">10,00 $</div> 
                    <div class="text-black-50 fs-6"> S / 36 / 8</div>
                    <div class="text-black-50 fs-6">Zara</div>
                </div>
                <div class="d-flex flex-row text-black-50 ">
                    <a href="#" style="text-decoration: none;" class="fs-6 text-black-50"> <img src="style/image/heart_24px.png" alt="">
                        6</a>                               
                </div>
            </div>                        
        </div>
    </div>
    <!--Fin Publication photo + prix + reaction + taille + marque-->
    <a href="#" href="#" style="text-decoration: none; width: 20%;" class="bg-light d-flex align-items-center justify-content-center text-black-50">     
        Voir tous les articles
     </a>
</div>