.details {
  width: 320px !important;
}

.photos {
  width: 950px !important;
}

.btn.achat {
  color: #fff !important;
  background-color: #09aeb7 !important;
}

.btn.message {
  color: #09aeb7 !important;
  background-color: #fff !important;
}
