<div class="container-fluid">
    <div class="row p-4 g-2">
        <div class="col-lg-8">
            <mat-card class="p-1 photos">
                <div class="row gx-1">
                    <div class="col-lg-6">
                        <img src="assets/images/articles/AirJordanBrown1.jpeg" alt="" width="100%">
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/images/articles/AirJordanBrown2.jpeg" alt="" width="100%">
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card class="details ms-auto">
                <h2 class="text-center text-gray">190,00€</h2>
                <mat-divider></mat-divider>
                <table class="table text-gray w-100" [cellSpacing]="2" [cellPadding]="10">
                    <tr>
                        <td>MARQUE</td>
                        <td>JORDAN</td>
                    </tr>
                    <tr>
                        <td>TAILLE</td>
                        <td>42.5</td>
                    </tr>
                    <tr>
                        <td>ÉTAT</td>
                        <td>NEUF AVEC ÉTIQUETTE</td>
                    </tr>
                    <tr>
                        <td>COULEUR</td>
                        <td>MARRON, GRIS</td>
                    </tr>
                    <tr>
                        <td>EMPLACEMENT</td>
                        <td>FRANCE</td>
                    </tr>
                    <tr>
                        <td>MODES DE PAYEMENT</td>
                        <td>PAYPAL</td>
                    </tr>
                    <tr>
                        <td>AJOUTÉ</td>
                        <td>IL Y A 25 JOURS</td>
                    </tr>
                </table>
                <mat-divider></mat-divider>
                <br />
                <h3>Jordan RétroHigh Patina</h3>
                <p>Bonjour,
                    je vends une Jordan 1 High Patina
                    état neuf en taille 42,5 Eu acheté sur SNKRS</p>
                <button class="btn btn-info message w-100 mt-2 mb-2">Envoyer un message</button>
                <button class="btn btn-info achat w-100">Acheter</button>
            </mat-card>
        </div>
    </div>
</div>