.details {
  width: 320px !important;
}

.photos {
  width: 950px !important;
  cursor: pointer;
}

.btn.achat {
  color: #fff !important;
  background-color: #09aeb7 !important;
  font-size: 14px;
}

.btn.message {
  color: #09aeb7 !important;
  background-color: #fff !important;
  font-size: 14px;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #09aeb7;
}
