<div class="d-flex flex-row w-75 justify-content-evenly">
    <div style="margin-left:15%;margin-top:1%;">
        <img src="../assets/images/accel.png" style="height:50px;" alt="">
    </div>
    <div style="margin-top:2%;">
        <img src="../assets/images/insight.png" alt="">
    </div>
    <div style="margin-top:2%;">
        <img src="../assets/images/burda.png" tyle="height:50px;" alt="">
    </div>
    <div>
        <img src="../assets/images/sc.png" tyle="height:50px;" alt="">
    </div>
    <div style="margin-top:2%;">
        <img src="../assets/images/light.png" tyle="height:50px;" alt="">
    </div>
</div>