<nav class="navbar navbar-expand-lg navbar-light border-bottom index">
    <div class="container">
        <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--Menu Femme-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Femmes
                </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-row">
                            <div class="border-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/small_icons_24px.png" alt=""> Voir tout</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/slip_dress_24px.png" alt=""> Vêtements
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/women_shoe_side_view_24px.png" alt=""> Chaussures
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/shopping_bag_24px.png" alt=""> Sacs
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/diamond_ring_24px.png" alt=""> Accessoires
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/lip_gloss_24px.png" alt=""> Beauté
                                    </a>
                                </li>
                            </div>
                            <div class="d-flex flex-row" id="vetement">
                                <div>
                                    <li><a class="dropdown-item" href="#">Voir tout</a></li>
                                    <li><a class="dropdown-item" href="#">Sweats & sweats à capuche</a></li>
                                    <li><a class="dropdown-item" href="#">Robes</a></li>
                                    <li><a class="dropdown-item" href="#">Hauts & Tee-shirts</a></li>
                                    <li><a class="dropdown-item" href="#">Pantalons & leggings</a></li>
                                    <li><a class="dropdown-item" href="#">Combinaisons & combishorts</a></li>
                                    <li><a class="dropdown-item" href="#">Lingerie & pyjamas</a></li>
                                    <li><a class="dropdown-item" href="#">Vetements de sport</a></li>
                                    <li><a class="dropdown-item" href="#">Autres</a></li>
                                </div>
                                <div>
                                    <li><a class="dropdown-item" href="#">Manteaux & vestes</a></li>
                                    <li><a class="dropdown-item" href="#">Blazers & tailleurs</a></li>
                                    <li><a class="dropdown-item" href="#">Jupes</a></li>
                                    <li><a class="dropdown-item" href="#">Jeans</a></li>
                                    <li><a class="dropdown-item" href="#">Shorts</a></li>
                                    <li><a class="dropdown-item" href="#">Maillots de bain</a></li>
                                    <li><a class="dropdown-item" href="#">Maternité</a></li>
                                    <li><a class="dropdown-item" href="#">Costumes & tenues particulières</a></li>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <!--Fin Menu Femme-->
                <!--Menu Homme-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hommes
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-row">
                            <div class="border-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/small_icons_24px.png" alt=""> Voir tout</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/clothes_24px.png" alt=""> Vêtements
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/sneakers_24px.png" alt=""> Chaussures
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/watches_front_view_24px.png" alt=""> Accessoires
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/foundation_makeup_24px.png" alt=""> Soins
                                    </a>
                                </li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Voir tout</a></li>
                                <li><a class="dropdown-item" href="#">Manteaux & vestes</a></li>
                                <li><a class="dropdown-item" href="#">Costumes & blazers</a></li>
                                <li><a class="dropdown-item" href="#">Pantalons</a></li>
                                <li><a class="dropdown-item" href="#">Sous-vêtements, chaussettes</a></li>
                                <li><a class="dropdown-item" href="#">Vêtements de sport & accessoires</a></li>
                                <li><a class="dropdown-item" href="#">Autres</a></li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Jeans</a></li>
                                <li><a class="dropdown-item" href="#">Hauts & Tee-shirts</a></li>
                                <li><a class="dropdown-item" href="#">Sweats & Pulls</a></li>
                                <li><a class="dropdown-item" href="#">Shorts</a></li>
                                <li><a class="dropdown-item" href="#">Maillots de bain</a></li>
                                <li><a class="dropdown-item" href="#">Vêtements spécialisés & costumes</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <!--Fin Menu Homme-->
                <!--Menu Enfants-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enfants
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-row">
                            <div class="border-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/small_icons_24px.png" alt=""> Voir tout</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/slip_dress_24px.png" alt=""> Filles
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/kimono_24px.png" alt=""> Garcons
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/carousel_24px.png" alt=""> Jeux & Jouets</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/pacifier_24px.png" alt=""> Soins bébé</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/boy_stroller_24px.png" alt=""> Poussettes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/bicycle_24px.png" alt=""> Porteurs, trotteurs & jouets ...</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/barber_chair_24px.png" alt=""> Chaises hautes & Sièdes auto</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/pram_24px.png" alt=""> Mobilier enfant</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/backpack_24px.png" alt=""> Scolarité
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/other_24px.png" alt=""> Autres
                                    </a>
                                </li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Voir tout</a></li>
                                <li><a class="dropdown-item" href="#">Chausssures</a></li>
                                <li><a class="dropdown-item" href="#">Pulls & Sweats</a></li>
                                <li><a class="dropdown-item" href="#">Robes</a></li>
                                <li><a class="dropdown-item" href="#">Pantalons & Shorts</a></li>
                                <li><a class="dropdown-item" href="#">Accessoires</a></li>
                                <li><a class="dropdown-item" href="#">Sous-vêtements</a></li>
                                <li><a class="dropdown-item" href="#">Vêtements de sport</a></li>
                                <li><a class="dropdown-item" href="#">Jumeaux & plus</a></li>
                                <li><a class="dropdown-item" href="#">Déguisements</a></li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Bébé filles</a></li>
                                <li><a class="dropdown-item" href="#">Vêtements d'extérieur</a></li>
                                <li><a class="dropdown-item" href="#">Chemises & T-shirts</a></li>
                                <li><a class="dropdown-item" href="#">Jupes</a></li>
                                <li><a class="dropdown-item" href="#">Sacs & sacs à dos</a></li>
                                <li><a class="dropdown-item" href="#">Equipements de natation</a></li>
                                <li><a class="dropdown-item" href="#">Pyjamas & chemises de nuit</a></li>
                                <li><a class="dropdown-item" href="#">Housses pour vêtements</a></li>
                                <li><a class="dropdown-item" href="#">Tenues de soirée</a></li>
                                <li><a class="dropdown-item" href="#">Autres</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <!--Fin Menu Enfants-->
                <!--Menu Maison-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Maison
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-row">
                            <div class="border-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/small_icons_24px.png" alt=""> Voir tout</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/yarn_24px.png" alt=""> Textiles
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/home_decorations_24px.png" alt=""> Décoration
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/tableware_24px.png" alt=""> Arts de la table</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="/assets/images/book_stack_24px.png" alt=""> Livres
                                    </a>
                                </li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Voir tout</a></li>
                                <li><a class="dropdown-item" href="#">Couvertures</a></li>
                                <li><a class="dropdown-item" href="#">Coussins décoratifs</a></li>
                                <li><a class="dropdown-item" href="#">Linge de table</a></li>
                                <li><a class="dropdown-item" href="#">Serviettes</a></li>
                            </div>
                            <div>
                                <li><a class="dropdown-item" href="#">Linge de lit</a></li>
                                <li><a class="dropdown-item" href="#">Rideaux et voilages</a></li>
                                <li><a class="dropdown-item" href="#">Tapis</a></li>
                                <li><a class="dropdown-item" href="#">Tapisseries décoratives</a></li>
                            </div>
                        </div>
                    </ul>
                </li>
                <!--Fin Menu Maison-->
                <!--Menu a propos-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              A propos
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="d-flex flex-row">
                            
                                <div>
                                    <li class="dropdown-header muted" style="font-size: 15px;">Découvrir</li>
                                    <li><a class="dropdown-item" [routerLink]="['/how_it_works']" routerLinkActive="true">Comment ca marche ?</a></li>
                                    <li><a class="dropdown-item" [routerLink]="['/app']" routerLinkActive="true">Applications mobiles</a></li>
                                </div>
                                <div>
                                    <li class="dropdown-header muted" style="font-size: 15px;">Entreprise</li>
                                    <li><a class="dropdown-item" [routerLink]="['/about']" routerLinkActive="true">A propos de Vinted</a></li>
                                    <li><a class="dropdown-item" [routerLink]="['/clone']" routerLinkActive="true">A propos de Vinted Clone</a></li>
                                </div>
                        
                        </div>
                    </ul>
                </li>
                <!--Fin Menu a propos-->
            </ul>
        </div>
    </div>
</nav>