a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back {
    background-color: #F5F6F7;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}