<div class="back w-100">
    <div class="border border-top-0 border-end-0 border-start-0 border-1 w-100 ">
        <div class="d-flex w-50 justify-content-around ms-5 ">
            <div class="mt-5">
                <div>
                    <p>En savoir plus</p>

                </div>
                <div class=" d-flex  flex-column">
                    <a [routerLink]="['/how_it_works']" routerLinkActive="true" class=" mb-2 text-black-50">Comment ça marche </a>
                    <a href="#" class=" mb-2 text-black-50">Carrière </a>
                    <a href="#" class=" mb-2 text-black-50">Presse </a>
                    <a href="#" class=" mb-2 text-black-50">Tableau de bord </a>
                </div>
            </div>
            <div class="mt-5">
                <div>
                    <p>Aide</p>
                </div>
                <div class=" d-flex flex-column">
                    <a href="#" class=" mb-2 text-black-50">Débuter sur Vinted </a>
                    <a href="#" class=" mb-2 text-black-50">Paiements et transferts </a>
                    <a href="#" class=" mb-2 text-black-50">Envoie</a>
                    <a href="#" class=" mb-5 text-black-50">Confiance et sécurité</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row ms-5 w-75 mt-2 mb-5  ">
        <div class="d-flex flex-row ms-5 w-25 justify-content-around ">
            <a href="https://web.facebook.com/vinted"> <img src="../assets/images/facebook_32.png" alt="Facebook" srcset="" class="img-fluid"></a>
            <a href="https://www.linkedin.com/company/vinted/"><img src="../assets/images/linkedin_32.png" alt="Linkedin" srcset="" class="img-fluid"></a>
            <a href="https://www.instagram.com/vinted/"><img src="../assets/images/instagram_32.png" alt="Instagram" srcset="" class="img-fluid"></a>

        </div>
        <div class="d-flex flex-row justify-content-end w-100  ">
            <a href="http://www.vinted.fr/l/app-ios-landing"><img src="../assets/images/Appstore.png" alt="App Store" style="width: 150px; height:55px;  " srcset="" class="img-fluid"> </a>
            <a href="http://www.vinted.fr/l/app-android-landing"><img src="../assets/images/Playstore.png" style="width: 150px; height:55px; margin-left: 2%; " alt="Play Store" srcset="" class="img-fluid"></a>
        </div>
    </div>
</div>