<div class="w-75 ">
    <div style=" margin-Left:12%; ">
        <h1>L’équipe de Vinted Clone</h1>
    </div>
    <div class="d-flex flex-column w-100 justify-content-center" style=" margin-Left:15%; margin-Top:5% ">
        <div class="m-3">
            <div class="centres">
                <h3>MBELO NDRIAMANAMPY Sandratra</h3>
                <p>IMTICIA5</p>
            </div>
        </div>
        <div class="m-3">

            <div class="centres">
                <h3>RABENAIVO Dado Iarilala
                </h3>
                <p>ESIIA5</p>
            </div>
        </div>
        <div class="m-3">

            <div class="centres ">
                <h3>RAZAKANIAINA Malala Hanta
                </h3>
                <p>IGGLIA5</p>
            </div>
        </div>
        <div class="m-3">

            <div class="centres ">
                <h3>RANDRIAJAOSON Michaël
                </h3>
                <p>ESIIA5</p>
            </div>
        </div>
        <div class="m-3">

            <div class="centres ">
                <h3>RASOLOARISON Ambinintsoa Michaël
                </h3>
                <p>IMTICIA5</p>
            </div>
        </div>
    </div>
</div>