<div style="padding-top: 25%;padding-bottom: 30%;height: 100%;" class="w-50 d-flex flex-column justify-content-center ms-5">
    <div class="d-flex justify-content-center">
        <img src="../../assets/images/favoris_heart.png" alt="" style="max-width: 150px;max-height: 150px;">
    </div>
    <div class="d-flex flex-column text-center">
        <h1 class="fs-3 mt-4">Enregistre tes favoris</h1>
        <p class="text-black-50 fs-6 mt-2">Ajoute des articles dans tes favoris et retrouve-les ici</p>
        <div class="d-flex flex-column text-center fs-6 mt-3">
            <a class="nav-link w-25 " [routerLink]="['/']" routerLinkActive="true"
            style="color: white;background-color: #09B1BA;border-radius: 3%;align-self:center;">Parcourir</a>
        </div>
    </div>
</div>
