<div class="ms-5 mt-5">
    <div class="">
        <h4 class="ms-5 mt-5 fs-2">Ta sécurité nous importe</h4>
    </div>
    <div class="d-flex flex-row">
        <div class="mt-4 ms-5 ">
            <img src="../assets/images/s1.png" size="20" alt="" class="s">
        </div>
        <div class="ms-5 w-25">
            <div class="mt-4">
                <h3>Achète en toute sécurité</h3>

            </div>
            <p class="text-black-50 fs-5">En tant qu'acheteur, tu paies des frais de Protection acheteurs sur chaque transaction lorsque tu utilises le bouton "Acheter".﻿ Cela permet de protéger ton argent, en ajoutant une protection supplémentaire à tes achats et en gardant tes informations
                en sécurité. Le coût est de 5% du prix de l'article + 0,70 €.</p>
            <p>
                <a href="#" class="text-decoration-none" style="color: #09B1BA;">En savoir plus</a>
            </p>
        </div>
        <div class="mt-4 ms-5 ">
            <img src="../assets/images/s2.png" size="20" alt="" class="s">
        </div>
        <div class="ms-5 w-25">
            <div class="mt-4">
                <h3>Politique de remboursement</h3>

            </div>
            <p class="text-black-50 fs-5">Ton achat est protégé quand tu paies sur Vinted. Tu seras remboursé si ton article n’a pas été envoyé, a été endommagé ou n’est pas tel que décrit. Tu as 2 jours après la livraison pour signaler un problème. Sauf accord, les frais de retour
                sont à la charge de l'acheteur.</p>
            <p>
                <a href="#" class="text-decoration-none" style="color: #09B1BA;">En savoir plus</a>
            </p>
        </div>
    </div>
    <div></div>
</div>